<header>
  <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/']">Chat Demo</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse"
        aria-label="Toggle navigation" [attr.aria-expanded]="isExpanded" (click)="toggle()">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse d-sm-inline-flex justify-content-end" [ngClass]="{ show: isExpanded }">
        <ul class="navbar-nav flex-grow">
          <li *ngIf="!(isLoggedIn | async)" class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link cursor-pointer text-dark " (click)="goToLoginPage()">Login</a>
          </li>
          <li class="nav-item" *ngIf="(isLoggedIn | async) === true">
            <span class="navbar-text">
              Logged in as <strong id="username">{{username}}</strong>&nbsp;|&nbsp;<a (click)="logout()" href="#"
                onclick="logout()">Logout</a>
            </span>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>