<div class="chat-container d-flex flex-column justify-content-between h-100 bg-light ">
  <!-- conversation -->
  <div class="w-100 d-flex flex-column justify-content-start overflow-auto flex-grow-1">
    <div class="w-100 d-flex justify-content-start p-3 mb-3 bg-light-gray border border-dark rounded">
      <div class="p-3">
        <app-avatar [iconClass]="'bi bi-robot'"></app-avatar>
      </div>
      <div class="p-2">
        Hi, how can I help you?
      </div>
    </div>
    <ng-container *ngFor="let message of (conversation | async)?.messages">
      <div class="w-100 d-flex justify-content-start p-3 mb-3 bg-light-gray "
        [class]="determineBorder(message.role)">
        <div class="p-3">
          <!-- assumption here is that a system message is always an error -->
          <app-avatar [class]="message.role == roleObject.system  ? 'text-danger' : '' " [iconClass]="determineAvatarIcon(message.role)"></app-avatar>
        </div>
        <div class="p-2">
          <p [class]="message.role == roleObject.system  ? 'text-danger' : '' ">{{message.message}}</p>
        </div>
      </div>
    </ng-container>
  </div>
  <!-- prompt box -->
  <form [formGroup]="form" (ngSubmit)="addToConversation()">
    <div class="w-100 p-3 d-flex flex-row ">
      <textarea class="p-2 w-100" style="resize: none;" placeholder="Send a message" formControlName="text"></textarea>
      <div class="p-3 align-self-center">
        <button type="submit" class="btn btn-primary">Send</button>
      </div>
    </div>
  </form>

</div>